<h1 id="overview">API for <span id="namespace-name">my-namespace</span>
  - <span id="header-project">Project</span> <span id="header-version">Version</span><span id="header-status-block"> (<span id="header-status">Status</span>)</span>
  </h1>
<span id="author-line">by <span id="author-name">the author</span><br /></span>
<br />Full namespace name: <span id="long-name">my-namespace</span>
<p />
<h2>Overview</h2>
<div id="home-page">Project home page is <a href="#">here</a></div>
<pre id="namespace-docstr">docstr here</pre>
<span class="ns-added"><span id="content">Added in Clojure 1.1</span><br /></span>
<span class="ns-deprecated"><span id="content">Deprecated since Clojure 1.1</span><br /></span>
<span id="see-also">See also: 
  <span id="see-also-link">
    <a href="see-also-tag">see-also-text</a>
  </span><br />
</span><br />
<span id="external-doc">Related documentation: 
  <span id="external-doc-link">
    <br /><a href="external-doc-tag">external-doc-text</a>
  <br /></span><br />
</span>
<div id="proto-section">
  <p />
  <h2>Protocols</h2>
  <div id="proto-entry">
    <br />
    <hr />
    <h2 id="proto-tag">proto-name</h2>
    <span id="proto-type">Protocol</span><br />
    <pre id="proto-docstr">docstr here</pre>
    Known implementations: <span id="proto-impls">Implementation list</span>
    <div id="proto-var-entry">
      <br />
      <h3 id="var-tag">Var-name</h3>
      <span id="var-type">Type goes here (var, multimethod, etc.)</span><br />
      <pre id="var-usage">Arglists go here</pre>
      <pre id="var-docstr">docstr here</pre>
      <span class="var-added"><span id="content">Added in Clojure 1.1</span><br /></span>
      <span class="var-deprecated"><span id="content">Deprecated since Clojure 1.1</span><br /></span>
      <a id="var-source" href="link goes here">Source</a>
    </div>
    <span class="proto-added"><span id="content">Added in Clojure 1.1</span><br /></span>
    <span class="proto-deprecated"><span id="content">Deprecated since Clojure 1.1</span><br /></span>
    <a id="proto-source" href="link goes here">Source</a>
  </div>
</div>
<div id="type-section">
  <p />
  <h2>Types</h2>
  <div id="type-entry">
    <br />
    <hr />
    <h2 id="type-tag">type-name</h2>
    <span id="type-type">Type or Record, depending</span><br />
    <pre id="type-docstr">types don't support docstrings yet</pre>
    Fields: <span id="type-fields">Field list</span><br />
    Protocols: <span id="type-protocols">Protocol list</span><br />
    Interfaces: <span id="type-interfaces">Interface list</span><br />
  </div>
</div>
<div id="var-section">
  <p />
  <h2>Public Variables and Functions</h2>
  <div id="var-entry">
    <br />
    <hr />
    <h2 id="var-tag">Var-name</h2>
    <span id="var-type">Type goes here (var, multimethod, etc.)</span><br />
    <pre id="var-usage">Arglists go here</pre>
    <pre id="var-docstr">docstr here</pre>
    <span class="var-added"><span id="content">Added in Clojure 1.1</span><br /></span>
    <span class="var-deprecated"><span id="content">Deprecated since Clojure 1.1</span><br /></span>
    <a id="var-source" href="link goes here">Source</a>
  </div>
</div>
<div id="sub-namespaces"></div>

