<h1 id="toc0">An Overview of the Clojure Core API</h1>
<br />
This is API documentation for the latest committed checkin of the Clojure core.
<h3>Important Clojure resources</h3>
<ul>
  <li>The official source code for clojure is on the
    <a href="http://github.com/richhickey/clojure/">
      Clojure GitHub source page
    </a>.
  </li>
  <li>Issues and other information for clojure are maintained in the
    <a href="http://www.assembla.com/spaces/dashboard/index/clojure">
      Clojure Assembla space
    </a>.
  </li>
  <li>This documentation is maintained in the gh-pages branch of clojure
    on GitHub and is always available online
    <a href="http://richhickey.github.com/clojure">
      GitHub pages for Clojure
    </a>.
    If you wish to have a version for off-line use you can use the download
    button on the
    <a href="http://github.com/richhickey/clojure/tree/gh-pages">
      gh-pages branch page at GitHub
    </a>.
  </li>
  <li>Issues related to clojure and the various pieces of functionality
    within it are discussed in the
    <a href="http://groups.google.com/group/clojure">
      Clojure Google group
    </a>.
  </li>
  <li>Discussions among clojure developers take place in the
    <a href="http://groups.google.com/group/clojure-dev">
      Clojure Dev Google group
    </a>.
  </li>
</ul>
