<h1 id="overview">API for <span id="namespace-name">my-namespace</span></h1>
by <span id="author">the author</span><br />
Usage:
<pre>
(ns your-namespace
  (:require <span id="long-name">my-namespace</span>))
<pre>
<br />
<h2>Overview</h2>
<pre id="namespace-docstr">docstr here</pre>
<span id="see-also">See also: 
  <span id="see-also-link">
    <a href="see-also-tag">see-also-text</a>
  </span><br />
</span>
<h2>Public Variables and Functions</h2>
<div id="var-entry">
  <hr />
  <h2 id="var-tag">Var-name</h2>
  <pre id="var-docstr">docstr here</pre>
</div>
