The user contributions library, clojure.contrib, is a collection
of namespaces each of which implements features that we believe may be useful to 
a large part of the clojure community. 
<br /><br />
This library was created by Rich Hickey but has been populated and is maintained by a 
group of volunteers who are excited about the success of the Clojure language and 
want to do our part to help it along. The current list of contributors is available 
on the <a href="http://github.com/clojure/clojure-contrib/">
clojure-contrib GitHub source page</a>.
<br /><br />
More contributions (and contributors) are welcome. If you wish to contribute, you will need
to sign a contributor agreement (which allows Clojure and clojure.contrib to proceed
without entanglements, see <a href="http://clojure.org/contributing">contributing</a>
for more info). 
<br /><br />
The best way to start is to share a project you've written with the google group and gauge
the interest in adding it to contrib. (Publishing it in an open source form on google code,
github or some other easy-to-access place in the net will also help.) After general 
discussion, Rich Hickey makes the final determination about what gets added to 
clojure.contrib.
<br /><br />
Some parts of clojure.contrib may migrate into clojure.core if they prove to be so 
generally useful that they justify being everywhere. (For example, condp started out
as an extension in contrib, but was moved to core by popular acclamation.)
<br /><br />
The exact role of clojure.contrib and the future of the Clojure environment (standard 
libraries, dependency models, packaging systems, etc.)
is the subject of pretty much continuous discussion
in the clojure google group and in #clojure on freenode. Feel free to join that 
discussion and help shape the ways Clojure is extended.
<br /><br />
Like Clojure itself, clojure.contrib is made available under the 
<a href="http://opensource.org/licenses/eclipse-1.0.php">Eclipse Public License (EPL)</a>. 
clojure.contrib is copyright 2008-2009 Rich Hickey and the various contributors.
<br /><br />
<h3>Important clojure-contrib resources</h3>
<ul>
  <li>The official source code for clojure-contrib is on the
    <a href="http://github.com/clojure/clojure-contrib/">
      clojure-contrib GitHub source page
    </a>.
  </li>
  <li>Issues and other information for clojure-contrib are maintained in the
    <a href="http://www.assembla.com/spaces/dashboard/index/clojure-contrib">
      clojure-contrib Assembla space
    </a>.
  </li>
  <li>This documentation is maintained in the gh-pages branch of clojure-contrib
    on GitHub and is always available online 
    <a href="http://clojure.github.com/clojure-contrib">
      GitHub pages for clojure-contrib
    </a>. If you wish to have a version for off-line use you can use the download 
    button on the 
    <a href="http://github.com/clojure/clojure-contrib/tree/gh-pages">
      gh-pages branch page at GitHub
    </a>.
  </li>
  <li>Issues related to clojure-contrib and the various pieces of functionality
    within it are discussed in the
    <a href="http://groups.google.com/group/clojure">
      Clojure Google group
    </a>.
  </li>
  <li>Discussions among clojure-contrib developers take place in the
    <a href="http://groups.google.com/group/clojure-dev">
      Clojure Dev Google group
    </a>.
  </li>
</ul>
